@import '../assets/main.scss';

.faculties {}

table {
  border-collapse: collapse;
}

thead {
  tr {
    border-bottom: 2px solid map-get($map: $colors, $key: border-gray);
  }

  td, th {
    padding-bottom: 10px;
  }
}

tbody {  
  tr {
    border-bottom: 1px solid map-get($map: $colors, $key: border-gray);
  }

  td, th {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 140px;
    text-align: left;
  }
}