@import '../assets/main.scss';

.faculties {}

table {
    border-collapse: collapse;
}

thead {
  tr {
    border-bottom: 2px solid map-get($map: $colors, $key: border-grey);
    //background-color: yellow;
  }

  td, th {
    padding-bottom: 10px;
  }
}

tbody {  
  tr {
    border-bottom: 1px solid map-get($map: $colors, $key: border-grey);
    //background-color: orange;
  }

  td, th {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 140px;
  text-align: left;
  }
}

.action {
  cursor: pointer;

  &:hover {
    color: black;
  }
}